@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* make variables from dracula theme */

:root {
  --color-background: #282a36;
  --color-selection: #44475a;
  --color-foreground: #f8f8f2;
  --color-comments: #6272a4;
  --color-strings: #ff79c6;
  --color-keywords: #ffb86c;
  --color-functions: #50fa7b;
  --color-types: #f1fa8c;
  --color-variables: #f1fa8c;
  --color-constants: #8be9fd;
  --color-properties: #bd93f9;
  --color-cursor: #f8f8f0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

::selection {
  background: var(--color-selection);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
 
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5% 20%;
}

header hr {
  width: 100%;
  height: 1px;
  border-color: var(--color-selection);
}

header span {
  font-size: 1.5rem;
  color: var(--color-comments);
  justify-self: flex-start;
  align-self: flex-start;
}

header h1 {
  font-size: 4rem;
  color: var(--color-foreground);
  justify-self: flex-start;
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

header a {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-keywords);
  
  border: 1px solid var(--color-selection);
  border-radius: 4rem;
  
  padding: 0.5rem 2rem;
  transition: .3s;
}

header a:hover {
  background-color: var(--color-selection);
  color: var(--color-background);
}

footer {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;  
  padding: 2rem;
  color: var(--color-comments);
}

footer section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer a {
  text-decoration: none;
  color: var(--color-properties);
  transition: .3s;
}

footer a:hover {
  color: var(--color-selection);
}

footer p a {
  color: var(--color-functions);
}

